/**
body {
 background:pink;
}
 */

#iframe-preview{
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.ct-loader{
    background: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgb(0,0,0,.4);
    clear: both;
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.form-control--w100 {
    max-width:100% !important;
}
.postbox{
    background-image:url("../images/yellow-sunflower.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 420px;
    padding: 25px;
    box-shadow: 0 0 10px rgb(0,0,0,.4);
}
.postbox .inside{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    text-align: left;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px 40px;
}